

.brand {
	margin-left: 15px;
	
}

#searchBoxWrapper {
	margin-left: 30px;
	margin-top: 10px;
	
}

#titleBar {
	text-align: center;
	margin-top: 15px;
	margin-bottom: 15px;
	vertical-align: middle;	
	
}


#shopCartDisp {
	margin-top: 10px;
	
}

