/* ==========================================================================
   					#### Style Begins ####
   ========================================================================== */


.navBox {
	background-color: rgb(0, 0, 0);
	color: rgb(255, 255, 255);	
	
}

hr {
	border: 0;
	border-top: 1px solid rgb(220, 220, 220);
	border-bottom: 1px solid rgb(220, 220, 220);
	
}

